BasedOnStyle: LLVM
Language: Cpp            # applies to C too
DerivePointerAlignment: false
PointerAlignment: Right   # "uint8_t *buf"
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterReturnType: None
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
ReflowComments: false
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'            # project headers
    Priority: 1
  - Regex: '^"third_party/.*"'# third-party
    Priority: 2
  - Regex: '^<.*\.h>$'        # system headers
    Priority: 3
